<div id="darkBackground" (click)="closeWindow()" ></div>

<div id="orderWindow" class="col-md-8 col-md-offset-2">

  <button type="button" class="close" (click)="closeWindow()" style="font-size: 25px"><span aria-hidden="true">×</span></button>

  <h3>Vytvorenie novej objednávky</h3>
  

  <form role="form" *ngIf="formReset" #orderForm="ngForm">

    <!--DATUM ZACIATKU-->
    <div class="form-group">
      <label for="beginOrder">Zadajte dátum a čas začiatku plánovanej cesty:</label>
      <input type="datetime-local" name="beginOrder" [(ngModel)]="reservationData.dateTimeStart" id="beginOrder"  class="form-control" step="1800" aria-describedby="helpBlockDate" validateDate required>
     

    </div>
  	<!--DATUM KONIEC-->
    <div class="form-group">
      <label for="endOrder">Zadajte dátum a čas ukončenia plánovanej cesty:</label>
      <input type="datetime-local" name="endOrder" id="endOrder" [(ngModel)]="reservationData.dateTimeEnd"  class="form-control" step="1800" aria-describedby="helpBlockDate" validateDate required>
   </div>
   <!--NAZOV DESTINACIE-->
   <div class="form-group">
     <label for="destinationName">Zadajte miesto resp. smer cesty:</label>
     <input type="text" name="destinationName" [(ngModel)]="reservationData.destination" id="destinationName" class="form-control" required>
   </div>
   <!--SPOLUCESTUJUCI-->
   <div class="form-group">
     <label for="insurance">Ak sa jedná o služobnú cestu do zahraničia, vypíšte mená osôb pre cestovné poistenie:</label>
      <input type="text" name="insurance" [(ngModel)]="reservationData.trvelInsurance" id="insurance" class="form-control" >
   </div>
   <!--GPS -->
     <div class="form-group">
       <label for="gpsRequirement">Žiadate o navigačný systém?</label><br>
       <input type="radio" name="gpsRequirement" [(ngModel)]="reservationData.GPSSystem" value="true" checked> Áno
       <input type="radio" name="gpsRequirement" [(ngModel)]="reservationData.GPSSystem" value="false"  checked="checked"> Nie
      </div>
      <!--INE POZIADAVKY -->
      <div class="form-group">        
        <label for="otherRequirement">Máte iné požiadavky na auto?
        <br>
          <small><i>Konkrétne auto,diaľničná známka pre cesty do CZE, pridelenie vozidla deň vopred, odvoz k/od zákazníka a pod.</i></small>
        </label>        
        <textarea id="otherRequirement" [(ngModel)]="reservationData.requirements" class="form-control" rows="3"  name="otherRequirement"  maxlength="255"></textarea>
      </div>

      <!--SUKROMNE UCELY-->
      <div class="form-group">
        <label for="privateUse">Žiadate o auto na súkromné účely?</label><br>
        <input type="radio" name="privateUse" [(ngModel)]="reservationData.privateUse" value="true" > Áno
        <input type="radio" name="privateUse" [(ngModel)]="reservationData.privateUse" value="false" checked="checked"> Nie
      </div>
     
    <!--SUBMIT BUTTON-->
    <div>
      <button type="submit" id="add_button" class="btn btn-success  btn-block" (click)="newOrder()">Vytvoriť objednávku</button>
    </div>
  

  </form>

</div>

