div {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.row {
  display: table;
  margin-left: 0;
  margin-right: 0; }

.row [class*="col-md-2"] {
  float: none;
  display: table-cell;
  vertical-align: top; }

@media (max-width: 991px) {
  .col-sm-center {
    text-align: center; } }
@media (max-width: 972px) {
  .col-xs-center {
    text-align: center; }

  #left_menu a span {
    display: none; } 
}

#mainApp, #left_menu, #right_menu {
  height: 100%; }

#content {
  width: 100%;
  padding: 20px !important;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

#header {
  background: url("../images/bcg_header.png") no-repeat center ;
  background-size: 100% 100%;
  display: table;
  width: 100%; }
  #header div {
    line-height: 78px;
    height: 78px; }
  #header img {
    vertical-align: initial; 
    }

#searchInput {
  line-height: 78px;
  padding-left: 35px;
  display: initial;
  width: 250px;
  background-image: url("../images/search_icon.png");
  background-repeat: no-repeat;
  background-size: 24px 21px;  
  background-position-y:6px; 
   }   

.avatarImg{
  width: 60px;
  height: 60px;    
  border-radius: 50%;   
  margin-top: 9px;
  cursor: pointer;
}


#left_menu {
  padding-top: 20px;
  background-color: #f2f2f2;
  border-right: 1px #b3b3b3 solid; }

#left_menu a.active {
  background: #dbdbdb;
}

.menu_icon {
  padding: 0px 10px 0px 0px; 
  vertical-align: sub;  
}

#left_menu ul a {
  padding: 2px 1px 3px 0px;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #4d4d4d;
}

  #left_menu a:link {
    text-decoration: none; }
  #left_menu a:hover {
    text-decoration: none; 
  }

  #left_menu a {
  padding: 5px 0px 5px 15px;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #4d4d4d;
  }

#right_menu {
  background-color: #f2f2f2;
  border-left: 1px solid #b3b3b3; 
}

#right_menu img {
  padding-left: 0px;
  padding-right: 0px; }

#envelope_ico, #user_ico {
  color: white;
  cursor: pointer;
  font-size: 30pt;
  margin: 0;
  line-height: 78px;
  display: initial; }

.badge {
  margin-left: -45px;
  font-size: 15px;
  color: white;
  background-color: transparent; }

/*# sourceMappingURL=home.component.css.map */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dbdbdb;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white; }
    .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }