<div id="myReservations">
    <h4>Moje objednávky</h4>

    <table class="table table-hover col-md-12">
        <thead>
            <tr>
                <th>Destinácia</th>
                <th>Auto</th>
                <th>Dátum a čas začiatku</th>
                <th>Dátum a čas konca</th>
                <th>Stav vybavenia</th>
                <th class="text-right">Akcie</th>
            </tr>
        </thead>
        <tr *ngFor="let res of reservations">
            <td>{{ res.destination }}</td>
            <td>{{ cars[res.carId] }}</td>
            <td>{{ formatDateTime(res.dateTimeStart) }}</td>
            <td>{{ formatDateTime(res.dateTimeEnd) }}</td>
            <td>{{ states[res.reservationState - 1] }}</td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" [disabled]="res.reservationState != 1" class="btn btn-warning glyphicon glyphicon-edit" (click)="editReservation(res.id)"></button>
                    <button type="button" *ngIf="res.reservationState == 1" class="btn btn-danger glyphicon glyphicon-trash" (click)="deleteReservation(res.id)"></button>
                    <button type="button" *ngIf="res.reservationState == 2" class="btn btn-danger glyphicon glyphicon-trash" (click)="askForDeleteReservation(res.id)"></button>
                </div>
            </td>
        </tr>
    </table>
</div>