<div id="form_background" class="col-md-12 col-xs-12">
    <div id="form_login" class="ui form col-md-3 col-sm-4 col-xs-12">
        <img src="../images/logo_big.png" alt="logo" id="logo" class="col-md-8 col-xs-4 col-md-offset-2 col-xs-offset-4" />

        <h3>Nastavenie nového hesla</h3>

        <form class="form-horizontal col-md-10 col-md-offset-1" (submit)="onSubmit()">
            
            <div *ngIf="success" class="alert alert-success col-md-12">
                <strong>{{ success }}</strong>
            </div>

            <div *ngIf="error" class="alert alert-danger col-md-12">
                <strong>{{ error }}</strong>
            </div>

            <div class="form-group">
                <input type="password" id="password" placeholder="nové heslo" name="password" (keyup)="password[0] = $event.target.value">
            </div>

            <div class="form-group">
                <input type="password" id="passwordRepeat" placeholder="overenie nohého hesla" name="passwordRepeat" (keyup)="password[1] = $event.target.value">
            </div>
            
            <div class="form-group">
                <button type="submit" id="login_button" class="ui button">Uložiť heslo 
                    <i *ngIf="saving" class="fa fa-circle-o-notch fa-spin" style="font-size:25px; margin-left: 5px"></i>
                </button>
                <a [routerLink]="['/login']" id="passwordResetInfo" class="col-md-12 col-xs-12 text-center">
                    << Späť
                </a>
            </div>

        </form>

    </div>

    <div id="footer" class="col-md-12 col-xs-12 text-center">
        &#169; {{ year }} KROS a.s
    </div>
</div>