<h2>Autá</h2>
<button type="button" class="btn btn-success" (click)="newCar()"><span class="glyphicon glyphicon-plus"></span>  Nové vozidlo</button>
<car *ngIf="showCarWindow" (windowClose)="windowClose($event)" (updateList)="getCars()" [carId]="carId"></car>
<table class="table">
  <thead>
  <tr>
    <th>Značka a typ</th>
    <th>ŠPZ</th>
    <th class="buttonsRight">Akcie</th>
  </tr>
  </thead>
  <tr *ngFor="let car of cars">
    <td><strong>{{car.name}}</strong></td>
    <td>{{car.plate}}</td>
    <td class="buttonsRight">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warning glyphicon glyphicon-edit" (click)="editCar(car.id)"></button>
        <button type="button" class="btn btn-danger glyphicon glyphicon-trash" (click)="deleteCar(car.id)"></button>
      </div>
    </td>
  </tr>
</table>

