<h2>Používatelia</h2>
<button type="button" class="btn btn-success" (click)="newUser()"><span class="glyphicon glyphicon-plus"></span>  Nový používateľ</button>
<user *ngIf="showOfficeWindow" (windowClose)="windowClose($event)" (updateList)="GetUsers()" [userId]="userId"></user>
<div class="col-md-12 text-center" style="margin-top: 10px; margin-bottom: 15px;">
    <span *ngFor="let char of alphabet" class="btn btn-default" (click)="filter(char)">{{ char }}</span>
    <span class="btn btn-default" (click)="removeFilter()">Všetci</span>
</div>
<table class="table table-hover col-md-12">
    <thead>
        <tr>
            <th class="col-md-1">Obrázok</th>
            <th class="col-md-2">Meno</th>
            <th class="col-md-3">Priezvisko</th>
            <th class="col-md-4">Email</th>
            <th class="buttonsRight col-md-2">Akcie</th>
        </tr>
    </thead>
    <tr *ngIf="!users">
        <td colspan="5" class="text-center col-md-12"><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin: 5px"></i> Načítavam dáta</td>
    </tr>
    <tr *ngFor="let user of users">
        <td><img alt="Embedded Image" [src]="'data:image/png;base64,'+user.photoBase64" width="50" height="50"></td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}} </td>
        <td class="buttonsRight">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" *ngIf="user.resetPasswordDateTime == '1/1/0001 12:00:00 AM'" class="btn btn-default glyphicon glyphicon-envelope" (click)="sendInvitation(user.id)"></button>
                <button type="button" class="btn btn-warning glyphicon glyphicon-edit" (click)="editUser(user.id)"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-trash" (click)="removeUser(user.id)"></button>
            </div>
        </td>
    </tr>
</table>

