<div id="reservations">
  <h3>Rezervácia áut</h3>
 
  <div class="col-md-12 remove-padding" style="margin-bottom: 15px">
    <a [routerLink]="['newreservation']"><button type="button" class="btn btn-success">Nová objednávka</button></a>
    <a [routerLink]="['/home/reservations/cars']"><button type="button" class="btn btn-default" >Prehľad rezervácií</button></a>
    <a [routerLink]="['myreservations']"><button type="button" class="btn btn-default" >Moje objednávky</button></a>
    <a [routerLink]="['orders']"><button type="button" class="btn btn-default" >Manažér objednávok</button></a>
  </div>

  <router-outlet></router-outlet>

</div>

