<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$title}</title>

    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }

        a {
            color: red;
        }
    </style>

</head>
<body style="padding-top: 0;
             padding-bottom: 0;
             width: 100% !important;
             -webkit-text-size-adjust: 100%;
             -ms-text-size-adjust: 100%;
             -webkit-font-smoothing: antialiased;">

    <table width="100%"
           border="0"
           cellspacing="0"
           cellpadding="0"
           align="center"
           style="font-family:Calibri Helvetica, sans-serif; font-size: 12pt;">

        <tr>
            <td align="center">
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td class="movableContentContainer" align="center">

                            <!-- =============== START HEADER =============== -->
                            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr><td height="15"></td></tr>
                                <tr>
                                    <td>
                                        <div class="header">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                <!--<tr>
                                                    <td>
                                                        <img src="header.jpg" alt="Logo" />
                                                    </td>
                                                </tr>-->
                                                <tr><td><hr /></td></tr>
                                                <tr>
                                                    <td>
                                                        <img src="http://www.kros.sk/img/logo-kros.png" alt="Náruč" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- =============== END HEADER =============== -->

                            <hr style="height:1px;background:#DDDDDD;border:none;">

                            <!-- =============== START BODY =============== -->
                            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td>
                                        <div class="body">
                                            {include #content}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- =============== END BODY =============== -->

                            <hr style="height:1px;background:#DDDDDD;border:none;">

                            <!-- =============== START FOOTER =============== -->
                            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td align="center">
                                        <div class="footer">
                                           KrosBook
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- =============== END FOOTER =============== -->
                            <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
