{layout Layout}
{var $title = Krosbook &ndash; Vitajte na Krosbooku }

<div>
    <h2>Vitajte na Krosbooku, {$name} {$surname}!</h2>
    <p>Práve ste boli zaregistrovaný do firemnej sociálnej siete Krosbook.</p>
    <p>Do systému sa prihlásite pomocou firemného emailu .</p>
    <p>Heslo si po dobu 30 dní môžete nastaviť na nasledujúcej adrese: <a href="{$passwordLink}">{$passwordLink}</a></p>
    <p>Po nastavení hesla  môžete  využívať funkcie systému Krosbook, ako napríklad rezervácia miestností a objednávanie áut .</p>
    <p>S pozdravom <b>Tím Krosbook :) </b></p>
</div>
