{layout Layout}
{var $title = Krosbook &ndash; Vitajte na Krosbooku }

<div>
    <h2>Vitajte na Krosbooku, {$name} {$surname}!</h2>
    <p>Práve ste boli zaregistrovaný do firemnej sociálnej siete Krosbook.</p>
    <p>Do systému je možné sa prihlásiť firmeným emailom a heslom.</p>
    <p>Heslo si po dobu 30 dní môžete nastaviť na nasleudjúcej adrese: <a href="{$passwordLink}">{$passwordLink}</a></p>
    <p>Po nastavení hesla už môžte veslo využívať výhody systému Krosbook, ako je rezervácia miestností a zasadačiek a žiadanie o požičanie auta na firemné, 
    ale aj súkromné účely.</p>
    <p>S pozdravom <b>Tím Krosbook</b></p>
</div>
