<!-- MANAZER OBJEDNAVOK-->
<h4>Manažér objednávok</h4>

<div class="col-md-12 remove-padding">
    <button type="button" class="btn btn-default col-md-1 remove-padding" (click)="showFilterInput()" id='filterButton'><span class="glyphicon glyphicon-filter"></span> Zobraziť filter</button>
    <div class="input-group col-md-3" style="padding-left: 15px; float: left;">
        <span class="input-group-addon" style="background: none; border: none;">Zobratiť rezervácie: </span>
        <select class="form-control" name="reservationsInterval" (change)="reservationsInterval = $event.target.value; getOrders();">
            <option value="week" selected>za posledný týždeň</option>
            <option value="month">za posledný mesiac</option>
            <option value="year">za posledný rok</option>
            <option value="all">všetky</option>
        </select>
    </div>
    <div style="float: right;">
        <button type="button" class="btn btn-default glyphicon glyphicon-refresh" (click)="getOrders()" id="refreshButton" style="margin-left:10px"></button>
    </div>
</div>

<div *ngIf="isShowedFilterInput" id="filter" class="col-md-12 remove-padding">
    <div class="form-group col-xs-3">       
        <label class="col-md-12 remove-padding">
            <input type="checkbox" name="orders" class="orderType" id="approvedOrders" value="1" (click)="filterData[0] = $event.target.checked; filterReservation()">Schválené objednávky
        </label>
        <label class="col-md-12 remove-padding">
            <input type="checkbox" name="orders" class="orderType" id="notApprovedOrders" value="2" (click)="filterData[1] = $event.target.checked; filterReservation()" checked>Nespracované objednávky
        </label>
        <label class="col-md-12 remove-padding">
            <input type="checkbox" name="orders" class="orderType" id="toDelete" value="3" (click)="filterData[2] = $event.target.checked; filterReservation()" checked>Na zrušenie
        </label>
    </div>

    <div class="form-group col-xs-3">
        <label> Zobraziť len nasledujúce auto:</label>
        <select name="filterCar" id="filterCar" class="form-control" (change)="filterData[3] = $event.target.value; filterReservation()">
            <option selected value="all">všetky</option>
            <option *ngFor="let car of carsData" class="form-control" [value]="car.id">{{ car.name }} : {{car.plate}}  </option>
        </select>
    </div>

    <div class="form-group col-xs-3">
        <label>Zobraziť len nasledujúceho užívatela:</label>
        <select name="filterUser" id="filterUser" class="form-control" (change)="filterData[4] = $event.target.value; filterReservation()">
            <option selected value='all'>všetky</option>
            <option *ngFor="let user of usersData" class="form-control" [value]="user.id">{{user.surname}} {{ user.name }}</option>
        </select>
    </div>

    <div class="form-group col-xs-3">
        <label>Počet výsledkov vyhľadávania:</label>
        <p>{{ orders.length }}</p>
    </div>
</div>

<table class="table table-hover col-md-12">
    <thead>
        <tr>
            <th class="col-md-2">Destinácia</th>
            <th class="col-md-1">Osoba</th>
            <th class="col-md-2">Auto</th>
            <th class="col-md-2">Dátum a čas začiatku</th>
            <th class="col-md-2">Dátum a čas konca</th>
            <th class="col-md-1">Status</th>
            <th class="buttonsRight col-md-2">Akcie</th>
        </tr>
    </thead>
    <tr *ngIf="!orders">
        <td colspan="7" class="text-center col-md-12"><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin: 5px"></i> Načítavam dáta</td>
    </tr>
    <tr *ngIf="isEmpty">
        <td colspan="7" class="text-center col-md-12"><h5>Nebola nájdená žiadna zhoda.</h5></td>
    </tr>
    <tr *ngFor="let order of orders">
        <td>{{order.destination}}</td>
        <td>{{users[order.userId]}}</td>
        <td>{{cars[order.carId]}}</td>
        <td>{{formatDateTime(order.dateTimeStart)}}</td>
        <td>{{formatDateTime(order.dateTimeEnd)}}</td>
        <td [class]="order.reservationState == 2 ? 'success text-center' : order.reservationState == 1 ? 'warning text-center' : 'danger text-center'">{{states[order.reservationState - 1]}}

        <td class="buttonsRight">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" *ngIf="order.reservationState == 1" class="btn btn-success glyphicon glyphicon-ok" (click)="approveOrder(order.carId, order.id, order.dateTimeStart, order.dateTimeEnd)"></button>
                <button type="button" *ngIf="order.reservationState != 3" class="btn btn-warning glyphicon glyphicon-edit" (click)="editOrder(order.id)"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-trash" (click)="removeOrder(order.id)"></button>
            </div>
        </td>
    </tr>
</table>

