{layout Layout}
{var $title = Krosbook &ndash; Schválenie objednávky auta} 
<h2>Schválenie objednávky auta</h2>
<p>Vaša objednávka auta bola schválená. Nižšie v maily máte bližšie informácie o dátume a čase a o aute, ktoré Vám bolo pridelené.</p>
<table>
    <tr>
        <th>Cieľ cesty</th>
        <td>{$title}</td>
    </tr>
    <tr>
        <th>Auto</th>
        <td>{$carName}</td>
    </tr>
    <tr>
        <th>Čas a dátum začiatku</th>
        <td>{$startDateTime}</td>
    </tr>
    <tr>
        <th>Dátum a čas konca</th>
        <td>{$endDateTime}</td>
    </tr>
    <tr>
        <th>GPS navigácia</th>
        <td>{$gps}</td>
    </tr>
</table> 