<h2>Role používateľov</h2>
<button type="button" class="btn btn-success" (click)="newRole()"><span class="glyphicon glyphicon-plus"></span>  Nová rola</button>
<equipment *ngIf="showRoleWindow" (windowClose)="windowClose($event)" (updateList)="getRoles()" [roleId]="roleId"></equipment>
<table class="table table-hover col-md-12">
    <thead>
        <tr>
            <th class="col-md-6">Názov roly</th>
            <th class="buttonsRight col-md-6">Akcie</th>
        </tr>
    </thead>
    <tr *ngIf="!roles">
        <td colspan="2" class="text-center col-md-12"><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin: 5px"></i> Načítavam dáta</td>
    </tr>
    <tr *ngFor="let role of roles">
        <td>{{role.name}}</td>
        <td class="buttonsRight">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-warning glyphicon glyphicon-edit" (click)="editRole(role.id)"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-trash" (click)="deleteRole(role.id)"></button>
            </div>
        </td>
    </tr>
</table>
