<table cellpadding="0" cellspacing="0" id="reservationTable" class="table table-bordered table-condensed table-responsive" style="overflow-x:auto;" width="100%">
    <!-- class="table table-responsive table-hover"-->
    <thead [ngStyle]="{'width': tableWidth+'px'}" id="reservationHead">
        <tr>
            <td colspan="2">
                <button class="btn btn-default" (click)="moveToday()" [disabled]="week == 0">Dnes</button>
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-default glyphicon table-arrow glyphicon-triangle-left" (click)="moveBack()"></button>
                    <button class="btn btn-default glyphicon table-arrow glyphicon-triangle-right" (click)="moveFor()"></button>
                </div>
            </td>
            <th colspan="2" class="text-center col-md-11" id="month" [ngStyle]="{'width': tableWidth+'px', 'font-size': '1.6em'}">{{ month }}</th>
            <td colspan="2">
                <div style="float: right;">
                    <button type="button" class="btn btn-default glyphicon glyphicon-refresh" (click)="ngAfterViewInit()" id="refreshButton" style="margin-left:10px"></button>
                </div>
                <div class="input-group col-md-2" style="float: right;">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="date" class="form-control" #dateToMoveOn="ngModel" name="dateToMoveOn" [(ngModel)]="moveDate" (change)="moveToDate()" validateDate>
                </div>
            </td>
        </tr>
        <tr>
            <th class="col-md-1">
            </th>
        </tr>
        <tr *ngIf="!data">
            <td colspan="6" class="text-center col-md-12"><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin: 5px"></i> Načítavam dáta</td>
        </tr>
    </thead>
    <div id="contentHolder" style="display: none"></div> <!--tbody stays on the same position when thead is changes to fixed -->
    <tbody *ngIf="!data && isShowedFilterInput"><tr class="warning"><td colspan="6">Neboli nájdené žiadne {{ name }} vyhovujúce zadaniu filtra.</td></tr></tbody>

    <tbody #TableReservationComponent class="allCars reservation" [week]="week"></tbody>


</table>
